body {
    background-color: #f8edeb;
}

nav {
    background-color: #d8e2dc;
    height: 100vh;
    box-shadow: 0 2px 4px gray;
}

.nav-item {
    color: black;
    margin-bottom: 10px;
    padding: 8px;
}

.nav-item:hover {
    background-color: #cacccb;
    cursor: pointer;
}

#sidebarMenu {
    padding: 0 !important;
}

.active {
    background-color: black;
    color: whitesmoke;
    font-weight: bold;
}

.hidden {
    display: none !important;
}