body {
    background-color: #f8edeb;
    margin-bottom: 30px;
}

nav div {
    color: white;
    height: 50px;
}


#imatge {
    height: 400px;
    max-width: 600px;
    object-fit: contain;
}

#capsa_info {
    height: 400px;
    background-color: #ffe5d9;

}

#columna2 {
    background-color: #ffe5d9;
}

#direccio {
    height: 400px;
    background-color: #ffe5d9;
}

#mapa {
    height: 400px;
}

#columna_comentaris {
    background-color: #ffe5d9;
    height: 500px;
}