body {
    background-color: #f8edeb;
}
.card {
    width: 20rem;
}

.imatge {
    height: 20px;
}

 .titol {
    background-color: #99d98c;
}

nav div {
    color: white;
}

#filter {
    width: 100%;
    height: 300px;
    background-color: #d8e2dc;
    border-radius: 0 0 8px 8px;
    padding-top: 50px;
}

.boto{
    background-color: #99d98c;
    border-color: #99d98c;
}

.boto:hover{
    background-color: #6b9862;
    border-color: #6b9862;
}

.mxw-600 {
    max-width: 600px !important;
}

.filtrar {
    background-color: #99d98c;
}